<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <!--[STORY PICTURE START]-->
      <img src="{{story?.imageURL}}" alt="" [ngStyle]="{'width':'100%'}">
      <!--[STORY PICTURE END]-->
      <h1>{{story?.title}}</h1>
      <h3>{{story?.subtitle}}</h3>
      <hr>
      <!--[MAIN CONTENT START]-->
      <div [innerHTML]="story?.content"></div>
      <!--[MAIN CONTENT END]-->
    </div>
    <div class="col-sm-4">
      <!--[AD START]-->
      <figure>
        <a href="#">
        <img src="/assets/images/thumbs/coffee-2306471_1920.jpg" alt="" [ngStyle]="{'width':'100%'}">
        </a>
        <figcaption>Promotional Ad</figcaption>
      </figure>
      <!--[AD END]-->
    </div>
  </div>
  <div class="row rowSpacer"></div>
</div>