<nav class="navbar navbar-default navbar-shadow navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="toggleMenu()" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="homepage">
        My Logo
      </a>
    </div>
    <div class="collapse navbar-collapse in" id="bs-example-navbar-collapse-1" [ngClass]="{'open-menu':isMenuOpen}">
      <ul class="nav navbar-nav">
        <li><a href="#">About</a></li>
        <li><a href="#">Stories</a></li>
        <li><a href="#">Store</a></li>
      </ul>
    </div>
  </div>
</nav>