/* Component being used in this app */
.cube {
    width: 100%;
    height: 350px;
    /*border: 1px solid red;*/
    background: url("/assets/images/img1.jpg") center no-repeat;
    background-size: cover;
}
.col-sm-2 { 
    .cube, .story-image {
        height: 200px !important;
    }
}

ul.icon-list {
    padding: 0;
    list-style: none;
    li {
        padding: 10px 0;
    }
}