/* Component being used in this app */

ul.icon-list {
    padding: 0;
    list-style: none;
    li {
        padding: 10px 0;
    }
}

.review-star {
    color: $reviewStarColor;
}

.promotional-ad {
    border: 1px solid #566bff;
    background: #999;
    .promotional-ad-caption {
        color:#ffffff;
    }
}