<div class="container">
 
 <!--[STORIES START]-->
  <div class="row">
    <div class="col-sm-12">
      <h2>New Topics</h2>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let story of stories" class="col-sm-4">
      <!--[ Inject each story from our list to the story component ]-->
      <app-story [story]="story"></app-story>
    </div>
  </div>
  <!--[STORIES END]-->

  <div class="row rowSpacer"></div>

  <!--[NEW PRODUCTS START]-->
  <div class="row">
    <div class="col-sm-12">
      <h2>New Producs</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div *ngFor="let product of products" class="col-sm-3">
          <!--[ Inject each product from our list to the product component ]-->
          <app-product [product]="product"></app-product>
        </div>
      </div>
    </div>
  </div>
  <!--[NEW PRODUCTS END]-->

  <div class="row rowSpacer"></div>

  <!--[TEASER START]-->
  <div class="row">
    <app-teaser [story]="storyTeaser"></app-teaser>
  </div>
  <!--[TEASER END]-->

  <div class="row rowSpacer"></div>

  <!--[OTHER TOPICS START]-->
  <div class="row">
    <div class="col-sm-12">
      <h2>Other Topics</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div *ngFor="let otherStory of otherStories" class="col-sm-2">
          <!--[ Inject each story from our list to the story component ]-->
          <app-story [story]="otherStory"></app-story>
        </div>
      </div>
    </div>
  </div>
  <!--[OTHER TOPICS END]-->
</div>