<a routerLink="/product/{{product?.id}}">
  <div class="product-image" 
  [ngStyle]="{
    'background': 'url(' + product.imageThumbURL + ') center no-repeat', 
    'background-size' : 'cover'
    }"></div>
</a>
  <div>
    <a routerLink="/product/{{product?.id}}"><h4 [innerHTML]="product.description"></h4></a>
    <div class="reviews">
        <app-review-stars [ratings]="product?.rating"></app-review-stars>
      <span class="review-description">{{product.reviewCount}} reviews</span>
    </div>
  </div>
