<a routerLink="/product/{{product?.id}}">
  <div class="product-image" 
  [ngStyle]="{
    'background': 'url(' + product.imageThumbURL + ') center no-repeat', 
    'background-size' : 'cover'
    }"></div>
</a>
  <div>
    <a routerLink="/product/{{product?.id}}"><h4 [innerHTML]="product.description"></h4></a>
    <div class="reviews">
      <span *ngFor="let rating of ratings" class="glyphicon review-star" aria-hidden="true"
      [ngClass]="{
        'glyphicon-star':(rating === 1),
        'glyphicon-star-empty':(rating === 0),
        'glyphicon-star-half':(rating === 0.5)
        }"></span>
      <span class="review-description">{{product.reviews}} reviews</span>
    </div>
  </div>
