<footer class="footer">
  <div class="container">
      <p class="text-muted">Sticky footer content here. Site or company description goes here</p>
      <div class="row hidden-xs">
        <div class="col-sm-3">
          <ul>
            <li><a href="#">link to something</a></li>
            <li><a href="#">link to something</a></li>
            <li><a href="#">link to something</a></li>
            <li><a href="#">link to something</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul>
            <li><a href="#">link to something</a></li>
            <li><a href="#">link to something</a></li>
            <li><a href="#">link to something</a></li>
            <li><a href="#">link to something</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul>
            <li><a href="#">link to something</a></li>
            <li><a href="#">link to something</a></li>
            <li><a href="#">link to something</a></li>
            <li><a href="#">link to something</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul>
            <li><a href="#">link to something</a></li>
            <li><a href="#">link to something</a></li>
            <li><a href="#">link to something</a></li>
            <li><a href="#">link to something</a></li>
          </ul>
        </div>
      </div>
  </div>
</footer>